
#bodey {
    min-height: 100%;
    font-family: "raleway";
    font-weight: 200;
}

::selection {
color: green;
}

#container {
    margin-top: 3em;
    text-align: center;
}

#header {
    font-size: 5em;
}

#shortner {
    margin-top: 4em;
}

#inputCon {
}
#input {
    width: 100%;
    font-size: 2em;
    border: 0;
    text-align: center;
    
}

#resultCon {
    margin-top: 1em;
    font-size: 2em;
}

.animateIf.ng-enter, .animate-if.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s;
}

.animateIf.ng-enter,
.animateIf.ng-leave.ng-leave-active {
  opacity:0;
}

.animateIf.ng-leave,
.animateIf.ng-enter.ng-enter-active {
  opacity:1;
}

.icns {
    font-size: .75em;
}

#extnsns {
    padding-top: 7em;
    font-size: 2.5em;
}

#chrmExt {
    text-decoration: none;
}

.extesnIcn {
    height: 2.75em;
}

#extsnIcns {
    padding-top: .75em;
}

#userScript {
    font-size:  .55em;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 1.5em;
    font-weight: 400;
    background-color: rgba(150, 150, 150, .25);
}