<!doctype html>
<html ng-app="fcpnchIt">
    
<head>
    <meta charset="utf-8">
    <title>Facepunch it!</title>
    
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/custom.css">
    
    <script type="text/javascript" src="//use.typekit.net/kfc3qij.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular-animate.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    
    <script src="js/app.js"></script>
</head>

<body id="bodey">
    <div id="container">
        <div id="header"><span style="color: #cc0000;">fcpn.ch/</span> it!</div>
        
        <div id="shortner" ng-controller="shortner">
            <div id="inputCon">
                <input id="input" autofocus type="text" ng-model="toShortn" ng-change="onChange()" placeholder="enter link to shorten here">
            </div>
            <div id="resultCon">
                <a ng-if="shortned" class="animateIf" id="resLink" href="http://{{shortned}}">{{shortned}}</a>
                <span ng-if="invalidIn" class="animateIf">Not a valid input :(</span>
            </div>
        </div>
        
        <div id="extnsns">
            <span>browser extensions</span><br>
            <div id="extsnIcns">
                <a href="http://chrome.google.com/webstore/detail/fcpnch/ocahpjpblnedccafjpjllelcabjnjjhp"><img src="res/chrome.svg" class="extesnIcn"/></a>
                <a href=""><img src="res/ff.svg" class="extesnIcn"/></a>
            </div>
            <span id="userScript">different browser? Check out the <a href="usrscrpt/fcpnch.user.js">userscript</a></span>
        </div>
        
        <footer id="footer">
            <span class="glyphicon glyphicon-chevron-left icns"></span>/<span class="glyphicon glyphicon-chevron-right icns"></span> <span>with</span> <span class="glyphicon glyphicon-heart icns"></span> <span>by <a href="http://twitter.com/ohitsLenny">Lenny.</a></span>
        </footer>
    </div>
</body>
    
</html>